@use './vars.sass' as *

@font-face
	font-family: software
	src: url('./fonts/software-tester-7.regular.ttf') format('truetype')
@font-face 
	font-family: Fredericka the Great
	src: url('./fonts/FrederickatheGreat-Regular.ttf') format('truetype')

.grid-container-a
	height: 100%
	width: 100%
	max-width: 1200px
	margin: auto
	display: grid
	grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%
	grid-template-rows: 50px 250px 80vh 110px
	gap: 20px 5px
	grid-template-areas: ". . . . . ."". picture-1a content-1a content-1a picture-2a ."". about-div about-div about-div about-div .""footer footer footer footer footer footer"
	.content-1a
		grid-area: content-1a
		position: relative
		margin: auto
		top: 50px
		max-height: 300px
		font-family: Fredericka the Great
		font-size: 2em
	.picture-1a
		grid-area: picture-1a
	.picture-2a
		grid-area: picture-2a
	.footer
		grid-area: footer
	.about-div
		grid-area: about-div
		text-align: center

.picture-1a, .picture-2a
	text-align: center
	img
		border-radius: 50%
		object-fit: cover
		width: auto
		max-height: 100%

.picture-3a
	display: none

.about-p
	font-family: software
	font-size: 2em
	font-weight: bold
	letter-spacing: 3px

@media screen and ( max-width: 1023px )
	.grid-container-a
		grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px
		grid-template-rows: 200px 250px 80vh 110px
		gap: 20px 5px
		grid-template-areas: ". content-1a content-1a content-1a content-1a ."". picture-3a picture-3a picture-3a picture-3a ."". about-div about-div about-div about-div .""footer footer footer footer footer footer"
	.content-1a
		top: 0
		h1
			margin-top: 0
			font-size: 1.2em
	.picture-1a, .picture-2a
		display: none
	.picture-3a
		text-align: center
		display: block
		grid-area: picture-3a
	img
		border-radius: 5%
		object-fit: cover
		width: auto
		max-height: 100%