@font-face 
  font-family : Fredericka the Great
  src : url('./fonts/FrederickatheGreat-Regular.ttf') format('truetype')


.content-1
  height : 100% !important
  width : 100% !important
  text-align : center
  padding : 0
  h1, h2
    font-family : 'Fredericka the Great'
    margin : 0
    padding : 0
  h1
    font-size : 6em
  h2
    font-size : 4em 

.picture-1
  height : calc(60vw/4)
  width : 60%
  border : 1px solid white
  border-radius : 50%

.content-2
  height : 100% !important
  width : 100% !important
  background-color : white
  border : 1px solid black

.content-3
  height : 100% !important
  width : 100% !important
  background-color : white
  border : 1px solid black

.content-4
  height : 100% !important
  width : 100% !important
  background-color : white
  border : 1px solid black