@use './vars.sass' as *

.nav, .navburger
	display: block
	width: 100%
	height: 50px
	position: fixed
	z-index: 1
	ul
		max-width: 1200px
		height: 100%
		list-style: none
		margin: 0
		padding: 0
		display: flex
		margin: auto
		flex-direction: row
		flex-wrap: nowrap
		justify-content: flex-end
	li
		height: 50px
		line-height: 50px
		position: relative
		a
			display: block
			margin: 0 0
			text-align: center
			font-size: 1.2em
			height: 100%
			text-decoration: none
			color: inherit
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			cursor: pointer

.nav
	li
		width: auto
		min-width: 175px
		display: inline-block
		&:first-child
			margin-right: auto
	svg
		margin-right: 5px

.navburger
	div
		height: 50px
		line-height: 50px
		position: relative
	#themeName, #expandButton
		display: inline-block
		height: 50px
		width: 50%
		a
			float: right
			font-size: 1.2em
			padding-right: 10px
	#expandContainer
		height: 50px
		width: 50px
		cursor: pointer
		:hover
			color: #888
	#navmenu
		height: 240px
		position: absolute
		width: 50vw
		li
			margin-bottom: 10px
			:hover
				background-color: rgba(0,0,0,0.5)
			:focus
				background-color: rgba(0,0,0,0.5)
			a
				display: block
				width: 100%

.collapsed
	display: none !important

.fa-bars, .fa-times
	color: inherit
	top: 0
	position: fixed
	left: 20px
