//Color settings (light, dark)
$first-l: #0d1117
$fourth-l: #0d1117
$first-d: #2e3026 //rgb(46,48,38)
$fourth-d: #26302a //rgb(38, 48, 42)

//transition setting
$transition: 0.35s ease-in-out

//lightmode settings
@mixin lightmode
	color: #000
	transition: color $transition
	transition: background $transition
	transition: background-color $transition
	html
		background: #FFF
	.nav, .navburger, #navmenu
		background-color: $fourth-l
	nav li a 
		color: #fff
	.active
		li
			background-color: $fourth-d
			color: #FFF

//darkmode settings
@mixin darkmode
	color: #FFF
	transition: color $transition
	transition: background $transition
	transition: background-color $transition
	html
		background: #0d1117
	body
		background: #0d1117
		position: relative
		top: 0
		left: 0
	.nav, .navburger, #navmenu
		background-color: $fourth-d
		color: #fff
	nav li a 
		color:#fff
	.active
		li
			background-color: $first-l
			color: #000

//sitewide settings
html, body
	padding: 0
	margin: 0
	height: auto
	width: 100%
	top: 0

body
	div
		width: 100%

// Gridbox defaults

@mixin grid-container
	height: max-content
	width: 100%
	max-width: 1200px
	margin: auto
	display: grid
	grid-template-columns: 5% 1fr 5% 1fr 1fr 5%
	grid-template-rows: 50px 90vh 500px 400px 400px 110px
	gap: 20px 20px
	grid-template-areas: "......"".content-1 content-1 content-1 picture-1 ."".content-2 content-2 content-2 content-2 .""..content-3 content-3 picture-3 ."".picture-4 content-4 ...""footer footer footer footer footer footer"
	.content-1
		grid-area: content-1
	.picture-1
		grid-area: picture-1
	.content-2
		grid-area: content-2
	.content-3
		grid-area: content-3
	.content-4
		grid-area: content-4
	.footer
		grid-area: footer
